/* === ОТДЕЛЬНЫЕ БАБОЧКИ === */
img[src*="things/5037.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/5037.png") !important;
}

img[src*="things/5038.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/5038.png") !important;
}

img[src*="things/5039.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/5039.png") !important;
}

/* === БАБОЧКИ НА КАМНЯХ === */
img[src*="things/342.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/342.png") !important;
}

img[src*="things/343.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/343.png") !important;
}

img[src*="things/344.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/344.png") !important;
}

img[src*="things/416.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/416.png") !important;
}

/* === ТРАВЫ, ЯГОДЫ, ПРЕДМЕТЫ === */
img[src*="things/1359.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/1359.png") !important;
}

img[src*="things/1360.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/1360.png") !important;
}

img[src*="things/1361.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/1361.png") !important;
}

img[src*="things/1383.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/1383.png") !important;
}

img[src*="things/1384.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/1384.png") !important;
}

img[src*="things/1385.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/1385.png") !important;
}

img[src*="things/1388.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/1388.png") !important;
}

img[src*="things/1389.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/1389.png") !important;
}

img[src*="things/1390.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/1390.png") !important;
}

img[src*="things/1391.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/1391.png") !important;
}

img[src*="things/1392.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/1392.png") !important;
}

img[src*="things/1401.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/1401.png") !important;
}

img[src*="things/1402.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/1402.png") !important;
}

img[src*="things/1403.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/1403.png") !important;
}

img[src*="things/1404.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/1404.png") !important;
}

img[src*="things/1405.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/1405.png") !important;
}

img[src*="things/1406.png"] {
  content: url("https://raw.githubusercontent.com/Ibirtem/CatWar/main/images/northern_clan/replacement/1406.png") !important;
}
